<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
  </div>
</div>
<!-- Page content -->

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-body">
          <!-- Portfolio Item Heading -->
          <h1 class="my-4">War of the Realms:
            <small>Uncanny X-Men (2019) #1</small>
          </h1>

          <!-- Portfolio Item Row -->
          <div class="row">
            <div class="col-md-4">
              <img class="img-fluid" src="../../../assets/img/theme/1.jpg" alt="">
            </div>
            <div class="col-md-8">
              <p>The War of the Realms has come to Midgard - and Westchester! Malekith’s forces are invading Earth, and
                the heroes of Earth are joining with the heroes of Asgard to fight them back! Who better to lead the
                X-Men into that war than their very own Valkyrie, Dani Moonstar?</p>
              <h2 class="my-3">Detalhes da Edição</h2>
              <ul>
                <li><b>Data de Publicação:</b> April 24, 2019</li>
                <li><b>Escritor:</b> Matthew Rosenberg</li>
                <li><b>Artista da capa:</b> David Yardin</li>
                <li><b>Desenhista:</b> Pere Perez</li>
                <li><b>Preço:</b> 12 R$</li>
              </ul>            
              <br>
              <div class="input-group-append">
                  <button type="button" [routerLink]="['/user-profile']" class="btn btn-default">Comprar Edição</button>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>